body{
background-color: #fdc11f;    
}

.container1 {
  border-radius: 44px;
  background: linear-gradient(145deg, #ffcf21, #e4ae1c);
  box-shadow:  30px 30px 60px #b68b16,
               -30px -30px 60px #fff728;
  }